src/src/Foundation/Neamb.MBCData/code/Web References/org.neambc.neamb.efulfillment/Efulfillment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.neamb.org" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.neamb.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Efulfillment</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.neamb.org">
      <xs:element name="process">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Product_Item_ID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Trans_Date" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_First_Name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Last_Name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_DOB" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_MDSID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Address" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_City" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_State" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Zip" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_MemberType" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_2" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_3" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_4" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_5" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Email_TM" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Email_Addr" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Signed_As" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merge_1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merge_2" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merge_3" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merge_4" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merge_5" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="processRequest">
    <wsdl:part name="parameters" element="ns:process" />
  </wsdl:message>
  <wsdl:message name="processResponse">
    <wsdl:part name="parameters" element="ns:processResponse" />
  </wsdl:message>
  <wsdl:portType name="EfulfillmentPortType">
    <wsdl:operation name="process">
      <wsdl:input wsaw:Action="urn:process" message="ns:processRequest" />
      <wsdl:output wsaw:Action="urn:processResponse" message="ns:processResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EfulfillmentSoap11Binding" type="ns:EfulfillmentPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="urn:process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EfulfillmentSoap12Binding" type="ns:EfulfillmentPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap12:operation soapAction="urn:process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EfulfillmentHttpBinding" type="ns:EfulfillmentPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="process">
      <http:operation location="Efulfillment/process" />
      <wsdl:input>
        <mime:content part="process" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="process" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Efulfillment">
    <wsdl:port name="EfulfillmentHttpSoap11Endpoint" binding="ns:EfulfillmentSoap11Binding">
      <soap:address location="http://172.16.15.187:8080/axis2/services/Efulfillment.EfulfillmentHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="EfulfillmentHttpSoap12Endpoint" binding="ns:EfulfillmentSoap12Binding">
      <soap12:address location="http://172.16.15.187:8080/axis2/services/Efulfillment.EfulfillmentHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="EfulfillmentHttpEndpoint" binding="ns:EfulfillmentHttpBinding">
      <http:address location="http://172.16.15.187:8080/axis2/services/Efulfillment.EfulfillmentHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>