src/src/Foundation/Neamb.MBCData/code/Web References/org.neambc.neamb.iceservice/iceapis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://iceapis.neamb" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://iceapis.neamb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>iceapis</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iceapis.neamb">
      <xs:element name="getBalance">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="memberid" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBalanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getBalanceRequest">
    <wsdl:part name="parameters" element="ns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceResponse">
    <wsdl:part name="parameters" element="ns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="iceapisPortType">
    <wsdl:operation name="getBalance">
      <wsdl:input wsaw:Action="urn:getBalance" message="ns:getBalanceRequest" />
      <wsdl:output wsaw:Action="urn:getBalanceResponse" message="ns:getBalanceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iceapisSoap11Binding" type="ns:iceapisPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="urn:getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iceapisSoap12Binding" type="ns:iceapisPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="urn:getBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iceapisHttpBinding" type="ns:iceapisPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getBalance">
      <http:operation location="iceapis/getBalance" />
      <wsdl:input>
        <mime:content part="getBalance" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getBalance" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iceapis">
    <wsdl:port name="iceapisHttpSoap11Endpoint" binding="ns:iceapisSoap11Binding">
      <soap:address location="http://192.168.122.1:8080/axis2/services/iceapis.iceapisHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="iceapisHttpSoap12Endpoint" binding="ns:iceapisSoap12Binding">
      <soap12:address location="http://192.168.122.1:8080/axis2/services/iceapis.iceapisHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="iceapisHttpEndpoint" binding="ns:iceapisHttpBinding">
      <http:address location="http://192.168.122.1:8080/axis2/services/iceapis.iceapisHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>