src/src/Foundation/Neamb.MBCData/code/Web References/org.neambc.neamb.pdffactory/PdfFactory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.neamb.org" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.neamb.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.neamb.org">
      <xs:element name="getPdfUrl">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Product_Item_ID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Trans_Date" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_First_Name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Last_Name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_DOB" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_MDSID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Address" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_City" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_State" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Zip" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_MemberType" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_2" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_3" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_4" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_5" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPdfUrlResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPdf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Product_Item_ID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Trans_Date" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_First_Name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Last_Name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_DOB" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_MDSID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Address" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_City" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_State" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_Zip" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PD_MemberType" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_2" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_3" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_4" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Custom_5" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPdfResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPdfUrlRequest">
    <wsdl:part name="parameters" element="ns:getPdfUrl" />
  </wsdl:message>
  <wsdl:message name="getPdfUrlResponse">
    <wsdl:part name="parameters" element="ns:getPdfUrlResponse" />
  </wsdl:message>
  <wsdl:message name="getPdfRequest">
    <wsdl:part name="parameters" element="ns:getPdf" />
  </wsdl:message>
  <wsdl:message name="getPdfResponse">
    <wsdl:part name="parameters" element="ns:getPdfResponse" />
  </wsdl:message>
  <wsdl:portType name="PdfFactoryPortType">
    <wsdl:operation name="getPdfUrl">
      <wsdl:input wsaw:Action="urn:getPdfUrl" message="ns:getPdfUrlRequest" />
      <wsdl:output wsaw:Action="urn:getPdfUrlResponse" message="ns:getPdfUrlResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPdf">
      <wsdl:input wsaw:Action="urn:getPdf" message="ns:getPdfRequest" />
      <wsdl:output wsaw:Action="urn:getPdfResponse" message="ns:getPdfResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PdfFactorySoap11Binding" type="ns:PdfFactoryPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPdfUrl">
      <soap:operation soapAction="urn:getPdfUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPdf">
      <soap:operation soapAction="urn:getPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PdfFactorySoap12Binding" type="ns:PdfFactoryPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPdfUrl">
      <soap12:operation soapAction="urn:getPdfUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPdf">
      <soap12:operation soapAction="urn:getPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PdfFactoryHttpBinding" type="ns:PdfFactoryPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getPdfUrl">
      <http:operation location="PdfFactory/getPdfUrl" />
      <wsdl:input>
        <mime:content part="getPdfUrl" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPdfUrl" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPdf">
      <http:operation location="PdfFactory/getPdf" />
      <wsdl:input>
        <mime:content part="getPdf" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPdf" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PdfFactory">
    <wsdl:port name="PdfFactoryHttpSoap11Endpoint" binding="ns:PdfFactorySoap11Binding">
      <soap:address location="http://172.16.15.187:8080/axis2/services/PdfFactory.PdfFactoryHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="PdfFactoryHttpSoap12Endpoint" binding="ns:PdfFactorySoap12Binding">
      <soap12:address location="http://172.16.15.187:8080/axis2/services/PdfFactory.PdfFactoryHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="PdfFactoryHttpEndpoint" binding="ns:PdfFactoryHttpBinding">
      <http:address location="http://172.16.15.187:8080/axis2/services/PdfFactory.PdfFactoryHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>