src/src/Foundation/Neamb.MBCData/code/Web References/org.neambc.neamb.compintrolife/compIntroLife.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax23="http://webservices.neamb/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservices.neamb" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservices.neamb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>compIntroLife</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax24="http://webservices.neamb/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.neamb">
      <xs:import namespace="http://webservices.neamb/xsd" />
      <xs:element name="compIntroCheck">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="mdsid" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="months" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="compIntroCheckResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax24:compIntroObject" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.neamb/xsd">
      <xs:complexType name="compIntroObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="compLife" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="introLife" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="signDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="signDateCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="compIntroCheckRequest">
    <wsdl:part name="parameters" element="ns:compIntroCheck" />
  </wsdl:message>
  <wsdl:message name="compIntroCheckResponse">
    <wsdl:part name="parameters" element="ns:compIntroCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="compIntroLifePortType">
    <wsdl:operation name="compIntroCheck">
      <wsdl:input wsaw:Action="urn:compIntroCheck" message="ns:compIntroCheckRequest" />
      <wsdl:output wsaw:Action="urn:compIntroCheckResponse" message="ns:compIntroCheckResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="compIntroLifeSoap11Binding" type="ns:compIntroLifePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="compIntroCheck">
      <soap:operation soapAction="urn:compIntroCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compIntroLifeSoap12Binding" type="ns:compIntroLifePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="compIntroCheck">
      <soap12:operation soapAction="urn:compIntroCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compIntroLifeHttpBinding" type="ns:compIntroLifePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="compIntroCheck">
      <http:operation location="compIntroLife/compIntroCheck" />
      <wsdl:input>
        <mime:content part="compIntroCheck" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="compIntroCheck" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="compIntroLife">
    <wsdl:port name="compIntroLifeHttpSoap11Endpoint" binding="ns:compIntroLifeSoap11Binding">
      <soap:address location="http://172.16.15.187:8080/axis2/services/compIntroLife.compIntroLifeHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="compIntroLifeHttpSoap12Endpoint" binding="ns:compIntroLifeSoap12Binding">
      <soap12:address location="http://172.16.15.187:8080/axis2/services/compIntroLife.compIntroLifeHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="compIntroLifeHttpEndpoint" binding="ns:compIntroLifeHttpBinding">
      <http:address location="http://172.16.15.187:8080/axis2/services/compIntroLife.compIntroLifeHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>