src/src/Foundation/Neamb.MBCData/code/Web References/org.neambc.neamb.productrules/productRules.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservices.neamb" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservices.neamb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>productRules</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.neamb">
      <xs:element name="prodRulesCheck">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="mdsid" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="prog_code" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="prodRulesCheckResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="prodRulesCheckRequest">
    <wsdl:part name="parameters" element="ns:prodRulesCheck" />
  </wsdl:message>
  <wsdl:message name="prodRulesCheckResponse">
    <wsdl:part name="parameters" element="ns:prodRulesCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="productRulesPortType">
    <wsdl:operation name="prodRulesCheck">
      <wsdl:input wsaw:Action="urn:prodRulesCheck" message="ns:prodRulesCheckRequest" />
      <wsdl:output wsaw:Action="urn:prodRulesCheckResponse" message="ns:prodRulesCheckResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productRulesSoap11Binding" type="ns:productRulesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="prodRulesCheck">
      <soap:operation soapAction="urn:prodRulesCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="productRulesSoap12Binding" type="ns:productRulesPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="prodRulesCheck">
      <soap12:operation soapAction="urn:prodRulesCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="productRulesHttpBinding" type="ns:productRulesPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="prodRulesCheck">
      <http:operation location="productRules/prodRulesCheck" />
      <wsdl:input>
        <mime:content part="prodRulesCheck" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="prodRulesCheck" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productRules">
    <wsdl:port name="productRulesHttpSoap11Endpoint" binding="ns:productRulesSoap11Binding">
      <soap:address location="http://172.16.15.187:8080/axis2/services/productRules.productRulesHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="productRulesHttpSoap12Endpoint" binding="ns:productRulesSoap12Binding">
      <soap12:address location="http://172.16.15.187:8080/axis2/services/productRules.productRulesHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="productRulesHttpEndpoint" binding="ns:productRulesHttpBinding">
      <http:address location="http://172.16.15.187:8080/axis2/services/productRules.productRulesHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>